autopep8
bm3d
bm4d
coverage
image
ipython
matplotlib
mypy
nbsphinx
numba
numpy>=1.21.0
numpydoc
pooch
pre-commit
pylops>=2.0.0
pytest
pytest-runner
ruff
scikit-image
scipy>=1.11.0
setuptools_scm
shibuya
sphinx
sphinx-design
sphinx-gallery
sphinx-iconify
sphinxemoji
typing_extensions
