numpy>=1.21.0
scipy>=1.11.0
pylops>=2.0.0
numba
scikit-image
matplotlib
ipython
bm4d
bm3d
typing_extensions
pytest
pytest-runner
setuptools_scm
sphinx
pooch
shibuya
sphinx-design
sphinx-gallery
sphinx-iconify
sphinxemoji
shibuya
numpydoc
nbsphinx
image
pre-commit
autopep8
ruff
mypy
